/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #5af77c;
}

/* Section 1 styles */
.section1 {
  text-align: center;
  padding: 4rem;
  margin-top: 4rem;
  background: linear-gradient(to top, #ebe8e8, #727275);
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section1 h1 {
  color: #91ff00;
  margin-bottom: 2rem;
}

/* Card styles */
.card {
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.card-content {
  padding: 2rem;
}

.open-form-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  background-color: #5af77c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.open-form-button:hover {
  background-color: #4ad364;
}

.card-bg-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .card {
    max-width: 90%;
  }
}
